body {
  position: static;
}
.test {
  top: 2;
  bottom: 3;
  display: table;
  display: table-header-group;
  display: table-column-group;
  display: table-row;
  cursor: pointer;
  cursor: move;
  margin: auto;
}
.another {
  margin-right: auto;
  margin-right: auto;
  margin-left: auto;
}
.padding {
  padding: 2;
  padding-top: 2;
  padding-bottom: 3;
  padding-right: 2;
}
.font {
  font: 1em sans-serif;
  font-weight: normal;
  font-style: italic;
  font-variant: normal;
  font-size: 3;
}
